.foto-content {
    padding-top: 100px;
    padding-bottom: 30px;
    @media (max-width:600px) {
        padding-top: 50px;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        background-color: white;
        padding: 40px 20px;
        margin-top: 10px;
        @media (max-width:600px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:420px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__card {
        width: 100%;
        height: 239px;
        overflow: hidden;
        @media (max-width:600px) {
            height: 180px;
        }
    }
    &__elem {
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: top 10% center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 0.3s ease;
        overflow: hidden;
        &:hover {
            transform: scale(1.05);
        }
    }
}