.intro {
    &__content {
        padding: 40px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 45px;
        color: white;
        @media (max-width:600px) {
            font-size: 36px;
            text-align: center;
        }
        span {
            font-weight: 600;
        }
    }
    &__grid {
        display: flex;
        align-items: center;
        margin-top: 20px;
        justify-content: space-between;
        width: 100%;
        @media (max-width:980px) {
            flex-direction: column;
            margin-bottom: 40px;
        }
    }
    &__elem {
        width: 33%;
        flex: none;
        @media (max-width:980px) {
            width: 100%;
        }
        &_img {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            width: 300px;
            height: 300px;
            object-fit: contain;
        }
        &_plus {
            img {
                width: 200px;
                height: 200px;
            }
            @media (max-width:980px) {
                display: none;
            }
        }
    }
    &__small-title {
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 10px;
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
        @media (max-width:980px) {
            max-width: initial;
            margin: 20px 0;
        }
        &_white {
            color: white;
        }
    }
}