<div class="info-price">
    <div class="wrapper">
        <h1 class="title">Стоимость оказания медицинских услуг</h1>
        <div class="info-price__content">
            
            <div class="info-price__table-wrapper">
                <table>
                    <tbody>
                        <tr><td style="text-align: center;"><p style="text-align: center;font-weight:bold;">Наименование услуги</p></td>
                            <td>
                                <p style="text-align: center;">Стоимость одной процедуры<br>(руб.)</p>
                            </td>
                            <td>
                                <p style="text-align: center;">Стоимость одной процедуры <br>детям до 18 лет и пенсионерам (руб.)</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p style="text-align: center;">Посещение фито-сауны «Кедровая Здравница»</p></td>
                            <td style="text-align: center;font-weight:bold;">300</td>
                            <td style="text-align: center;font-weight:bold;">300</td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: center;">Лечение аппаратами СКЭНАР, ПОРТ, МИНИТАГ</p>
                            </td>
                            <td style="text-align: center;font-weight:bold;">600</td>
                            <td style="text-align: center;font-weight:bold;">550</td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: center;">Лечение аппаратами СКЭНАР, ПОРТ, МИНИТАГ (повторный курс)</p>
                            </td>
                            <td style="text-align: center;font-weight:bold;">550</td>
                            <td style="text-align: center;font-weight:bold;">500</td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: center;">Компьютерная экспресс-диагностика<br>на аппарате РИСТОЧКА</p>
                            </td>
                            <td style="text-align: center;font-weight:bold;">1500</td>
                            <td style="text-align: center;font-weight:bold;">1400</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <p style="text-align: center;">Компьютерная экспресс-диагностика<br>
                                на аппарате РИСТОЧКА (повторный курс)</p></td>
                            <td style="text-align: center;font-weight:bold;">1300</td>
                            <td style="text-align: center;font-weight:bold;">1200</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>