<div class="foto-content">
    <div class="wrapper">
        <h1 class="title">Фотогалерея кабинета</h1>
        <div class="foto-content__content">
            <a data-fancybox="foto" data-src="img/foto/1.jpg" class="foto-content__elem" style="background-image: url(img/foto/1.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/2.jpg" class="foto-content__elem" style="background-image: url(img/foto/2.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/3.jpg" class="foto-content__elem" style="background-image: url(img/foto/3.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/4.jpg" class="foto-content__elem" style="background-image: url(img/foto/4.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/5.jpg" class="foto-content__elem" style="background-image: url(img/foto/5.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/6.jpg" class="foto-content__elem" style="background-image: url(img/foto/6.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/7.jpg" class="foto-content__elem" style="background-image: url(img/foto/7.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/8.jpg" class="foto-content__elem" style="background-image: url(img/foto/8.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/9.jpg" class="foto-content__elem" style="background-image: url(img/foto/9.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/10.jpg" class="foto-content__elem" style="background-image: url(img/foto/10.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/11.jpg" class="foto-content__elem" style="background-image: url(img/foto/11.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/12.jpg" class="foto-content__elem" style="background-image: url(img/foto/12.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/13.jpg" class="foto-content__elem" style="background-image: url(img/foto/13.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/14.jpg" class="foto-content__elem" style="background-image: url(img/foto/14.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/15.jpg" class="foto-content__elem" style="background-image: url(img/foto/15.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/16.jpg" class="foto-content__elem" style="background-image: url(img/foto/16.jpg);"></a>
            <a data-fancybox="foto" data-src="img/foto/17.jpg" class="foto-content__elem" style="background-image: url(img/foto/17.jpg);"></a>
        </div>
    </div>
</div>