<div class="effects">
    <div class="wrapper">
        <div class="effects__content">

            <div class="intro__grid effects__grid">
                
                <div class="intro__elem effects__elem">

                    <div class="effects__text-grad">
                        Бесплатная консультация
                    </div>
                    <div class="effects__text-grad effects__text-grad_red">
                        Эффект - после первых процедур!
                    </div>
                    <div class="effects__text-grad">
                        Курс из 5-15 процедур
                    </div>

                </div>

                <div class="intro__elem effects__elem">
                    <h2 class="intro__small-title intro__small-title_white">Эффекты воздействия:</h2>
                    <ul class="list">
                        <li>— общерегулирующий</li>
                        <li>— нормализация обмена веществ</li>
                        <li>— стимуляция регенерации тканей</li>
                    </ul>
                    <ul class="list">
                        <li>— обезболивающий</li>
                        <li>— нормализация проводимости нервного волокна</li>
                        <li>— противоотечный</li>
                        <li>— нормализация гормонального фона</li>
                    </ul>
                    <ul class="list">
                        <li>— улучшение кровообращения</li>
                        <li>— противовоспалительный</li>
                        <li>— жаропонижающий</li>
                    </ul>
                </div>

                <div class="intro__elem effects__elem">

                    <div class="effects__contacts">
                        <a href="tel:+79107903601" class="effects__number">+7 910-790-36-01</a>
                    </div>

                    <div class="effects__text-grad effects__text-grad_no-margin">
                        ул.Горького, 65А
                    </div>

                    <div class="effects__text-grad effects__text-grad_no-margin">
                        (во дворе магазина "Мелодия")
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>