<header class="header">
	<div class="header__wrapper">
		<div class="header__content">

			<div class="header__logo">
				<a href="/" class="logo">
					Кабинет <br>
					Доктора <br>
					Нечаевой
				</a>
			</div>

			<div class="header__nav">
				<nav class="nav">
					<a id="nav-1" href="foto.html" class="nav__elem">Фото</a>
					<a id="nav-2" href="lechenie.html" class="nav__elem">Лечение</a>
					<a id="nav-3" href="homeopathy.html" class="nav__elem">Гомеопатия</a>
					<a id="nav-4" href="doctor.html" class="nav__elem">Доктор</a>
					<a id="nav-5" href="zdravnitsa.html" class="nav__elem">Мини-сауна</a>
					<a id="nav-6" href="contact.html" class="nav__elem">Контакты</a>
				</nav>
			</div>

			<div class="header__burger">
				<a class="burger">
					<span></span>
				</a>
			</div>

		</div>
	</div>
</header>
