<div class="testimony">
    <div class="wrapper">
        <div class="testimony__content">

            <div class="testimony__btns">

                <a href="pokazaniya.html" class="testimony__btn testimony__btn_white">
                    <span style="background-image: url(img/testimony/plus.png);"></span>
                    <p>Показания к применению</p> 
                </a>

                <a href="pokazaniya.html#protiv" class="testimony__btn">
                    <span style="background-image: url(img/testimony/minus.png);"></span>
                    <p>Противопоказания</p> 
                </a>

            </div>

            <div class="testimony__price">
                <a href="price.html">Прайс-лист на услуги кабинета</a>
            </div>

        </div>
    </div>
</div>