<div class="info-block">
    <div class="wrapper">
        <h1 class="title">Гомеопатия в Нижнем Новгороде</h1>
        <div class="info-block__content">

            <h2 class="info-block__title">Лечение гомеопатией</h2>

            <a class="info-block__img" style="background-image: url(img/homeopathy/1.jpg);"></a>

            <p class="info-block__text">
                Гомеопатия – альтернатива традиционным методам <a href="lechenie.html">лечения заболеваний</a> у детей и взрослых. <br>
                Классическая гомеопатия - это особый, информационный способ лечения, основанный на использовании сверхмалых доз того или иного природного вещества, растворенного в воде. От традиционной медицины гомеопатия отличается тем, что она нацелена на <b>лечение</b> всего <b>организма</b>, а не отдельного органа. Метод был изобретён немецким врачом Ганеманом и существует уже более двухсот лет. Он нацелен на восстановление баланса в организме, что гарантирует нормальное функционирование всех его органов и систем.
            </p>

            <h2 class="info-block__title">Как происходит лечение у гомеопата?</h2>

            <p class="info-block__text">
                Для <a href="">врача</a> очень важно определить принадлежность пациента к тому или иному конституционному типу. Конституционный тип определяется на основе физиологических особенностей пациента, а также особенностей его характера, наличия фобий, агрессии, оптимистического или пессимистического отношения к жизни, раздражительности, пищевых предпочтений, бытовых привычек и др. Оценивая состояние человека в целом, врач-гомеопат назначает лечение сугубо индивидуальными гомеопатическими препаратами.
            </p>
            
            <a class="info-block__img" style="background-image: url(img/homeopathy/2.jpg);"></a>

            <h2 class="info-block__title">Преимущества гомеопатического лечения:</h2>

            <p class="info-block__text">
                - Комплексный подход и лечение организма в целом, а не отдельного его органа или болезни. <br>
                - Строго индивидуальный подход с учётом всех особенностей данного конкретного организма.<br>
                - Отсутствие побочных эффектов лечения, часто встречающихся при лечении химическими препаратами.<br>
                - Отсутствие негативных эмоций у человека во время лечения.<br>
                - Эффективность лечения.
            </p>

            <p class="info-block__text">
                Благодаря этим преимуществам, гомеопатия является неоценимым методом <b>лечения</b> для <b>взрослых</b> и <b>детей</b>. Например, гомеопатия эффективна при лечении такого часто встречающегося заболевания, как аденоиды. Обычно аденоиды не поддаются консервативному лечению обычными препаратами, и их приходится удалять. Однако причина при этом остаётся в организме, и есть вероятность возвращения заболевания. При гомеопатическом комплексном подходе с болезнью можно справиться полностью без оперативного вмешательства.
            </p>

            <h2 class="info-block__title">Гомеопатический метод применяется для лечения:</h2>

            <p class="info-block__text">
                - болезней органов дыхания (ОРЗ, бронхиты, бронхиальная астма, аллергические риниты); <br>
                - болезней органов пищеварения (дисбактериоз кишечника, гастриты, и др.); <br>
                - болезней органов мочеполовой системы (нефриты, энурез и др.); <br>
                - заболевания кожи (дерматиты, аллергические заболевания); <br>
                - сердечно-сосудистой системы (ревматизм, вегето-сосудистая дистония).
            </p>

            <a class="info-block__img" style="background-image: url(img/homeopathy/3.jpg);"></a>

            <h3 class="info-block__title_small info-block__title_pad">В Кабинете доктора Нечаевой, расположенном в Нижнем Новгороде, Вы можете пройти курс лечения под наблюдением опытного врача-гомеопата.</h3>

        </div>
    </div>
</div>